body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul{
    padding-left: 0px;
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    flex: 1;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 900px;
    margin: 0 auto; 
    padding: 20px; 
    font-family: 'Courier New', Courier, monospace;  
}

.logo{
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.overview {
    background-color: #1F2937;
    flex: 1;
}

.width {
    display: flex;
    width: 900px;
    margin: 0 auto;
    gap: 15px;
    padding: 80px;
}

.text {
    flex: 1;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: auto;
}

.size {
    min-width: 350px;
    height: auto;
}

.big {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.small {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.information {
    width: 900px;
    margin: 0 auto;
    flex: 1;
}

.sub-heading {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding: 35px;
}

.group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    text-align: center;
    padding: 80px;
    padding-top: 35px;
}

.pair {
    flex: 1;
}

.border {
    border: 2px solid #3882F6;
    border-radius: 10px;
    max-height: 100px;
    width: auto;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #1F2937;
}

.testimonial {
    background-color: #E5E7EB;
    flex: 1;
}

.width.q {
    flex-direction: column;
}

.quote {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.ironman {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #1F2937;
}

.last {
    width: 900px;
    margin: 0 auto;
    background-color: #3882F6;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 5px;
    flex: 1;
}

.two {
    border: 2px solid white;
    border-radius: 3px;
}

.positioning {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call {
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F9FAF8;
    font-weight: 700;
}

.signpost {
    font-size: 18px;
    font-family: sans-serif;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #E5E7EB;
    font-family: sans-serif;
    font-size: 18px;
    flex: 1;
}